include LICENSE
include NOTICE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include CODE_OF_CONDUCT.md
include AUTHORS
include pyproject.toml
recursive-include docs *.md
recursive-include src *.py
recursive-include src *.typed
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
global-exclude *.egg-info
global-exclude .eggs
global-exclude dist
global-exclude build
